@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #263238;
  font-family: Arial, Helvetica, sans-serif;
}


.bg-event {
  background-color: #37474F;
}
.bg-list{
  background-color: #667881;
}

.text-site{
  color:#ECEFF1 ;
}

.iconsNbuttons{
  color: white;
  background-color: #FF7043;
}
