@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #263238;
  font-family: Arial, Helvetica, sans-serif;
}

.bg-general {
  background-color: #263238;
}

.bg-event {
  background-color: #37474f;
}
.bg-list {
  background-color: #667881;
}

.text-site {
  color: #eceff1;
}

.iconsNbuttons {
  color: white;
  background-color: #ff7043;
}
